body {
    display: flex;
    justify-content: center;
    align-items: center;
}

.toolBox {
    display: flex;
    flex-flow: column;
    align-items: center;
    margin-right: 50px;
}

.containerDimension {
    display: flex;
    align-items: center;
}

.dimensionInput {
    height: 20px;
    box-sizing: border-box;
}

.dimensionBtn {
    margin-left: 30px;
    height: 20px;
    box-sizing: border-box;
}

.containerZero {
    display: flex;
    flex-direction: column;
}

.row {
    display: flex;
    flex-direction: row;
}

.box {
    width: 16px;
    height: 16px;
    background: lightgrey;
    margin: 2px;
    box-sizing: border-box;
}

.box.hover {
    background: black;
}