body {
    display: flex;
}
.containerZero {
    display: flex;
    flex-direction: column;
}

.row {
    display: flex;
    flex-direction: row;
}

.box {
    width: 16px;
    height: 16px;
    background-color: lightgrey;
    margin: 2px;
}