body {
    display: flex;
    flex-flow: column;
}

.body {
    display: flex;
    justify-content: center;
    align-items: center;
    background: grey;
    height: 500px;
}

.toolBox {
    display: flex;
    flex-flow: column;
    align-items: center;
    margin-right: 50px;
}

.containerDimension {
    display: flex;
    align-items: center;
}

.dimensionInput {
    height: 20px;
    box-sizing: border-box;
}

.dimensionBtn {
    margin-left: 30px;
    height: 20px;
    box-sizing: border-box;
}

.containerCanvas {
    display: flex;
    flex-direction: column;
    height: 400px;
    width: 400px;
    border: 1px solid lightgrey;
}

.row {
    display: flex;
    flex-grow: 1;
    flex-direction: row;
}

.box {
    width: auto;
    flex: 1 1 auto;
    background: lightgrey;
    box-sizing: border-box;
}

.box.hover {
    background: black;
}